.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.nolep {
  text-decoration: none;
}

.btn-primary {
  margin-bottom: 10rem;
}

.jossia {
  text-decoration: none;
}
